## Level 1 - Beginner

### Question 1
---

**Question:** _Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included).The numbers obtained should be printed in a comma-separated sequence on a single line._

**Hints:** _Consider use range(#begin, #end) method._

**Solution:**

In [4]:
#using for loop
for i in range(2000,3201):
    if i%7 == 0 and i%5 != 0:
        print(i, end=',')   
print("\b")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [3]:
#using generators 
print(*(i for i in range(2000, 3201) if i%7 == 0 and i%5 != 0), sep=',')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

### Question 2
---

**Question:** _Write a program which can compute the factorial of a given numbers.The results should be printed in a comma-separated sequence on a single line. Suppose the following input is supplied to the program: 8, being the output: 40320_

**Hints:** _In case of input data being supplied to the question, it should be assumed to be a console input._

**Solution:**

In [6]:
#using for loop
def factorial(n):
    fact = 1
    for i in range(1,n+1):
        fact = fact * i
    print(fact)
    
x = int(input('Enter a number: '))
factorial(x)

40320

In [7]:
#using while loop
x = int(input('Enter a number: '))

i = 1
fact = 1
while i < x+1:
    fact = fact * i
    i += 1
print(fact)

40320

### Question 3
---

**Question:** _With a given integral number n, write a program to generate a dictionary that contains (i, i x i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary._

Suppose the following input is supplied to the program: 8. The output should be:

```
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
```

**Hints:** _In case of input data being supplied to the question, it should be assumed to be a console input.Consider use dict()_

**Solution:**

In [10]:
#using arrays
x = int(input('Enter a number: '))

keys=[]
val=[]
for i in range(1,x+1):
    keys.append(i)
    val.append(i*i)
print(dict(zip(keys, val)))

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [11]:
#using dictionary
x = int(input('Enter a number: '))
dic = {}
for i in range (1,x+1):
    dic[i] = i * i
print(dic)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [12]:
#using dictionary and list comp
x = int(input('Enter a number: '))
print({i: i*i for i in range (1,x+1)})

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

### Question 4
---

**Question:** _Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number. Suppose the following input is supplied to the program:_

```
34,67,55,33,12,98
```

_Then, the output should be:_

```
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')
```

**Hints:** _In case of input data being supplied to the question, it should be assumed to be a console input.tuple() method can convert list to tuple._

**Solution:**

In [13]:
x = input('Enter a sequence of comma-separated numbers: ')
lista = x.split(',')
tupla = tuple(lista)

print(lista)
print(tupla)

['34', '6', '7']
('34', '6', '7')

### Question 5
---

**Question:** _Define a class which has at least two methods:_

- _getString: to get a string from console input_
- _printString: to print the string in upper case_

_Also please include simple test function to test the class methods._

**Hints:** _Use init method to construct some parameters._

**Solution:**

In [15]:
class String:
    def getString(self):
        self.string = input('Enter a string: ')
    
    def printString(self):
        print(self.string.upper())

In [16]:
p1 = String()
p1.getString()
p1.printString()

HOLA

### Question 6
---

**Question:** _Write a method which can calculate square value of number_

**Hints:** _Use the ** operator_

**Solution:**

In [1]:
#using function
def square_value(n):
    return n ** 2

print(square_value(3))

9

In [2]:
#using lambda expression
square_value_lambda =  lambda n: n ** 2
print(square_value_lambda(3))

9